/*Font Family*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/*First Section*/


.first-section{
    background-image:url('../images/first-bg.jpeg');
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}
.section-inner{
    width: 80%;
    z-index: 1;
}

.first-section .section-inner{
    margin-bottom: 100px;
}

.first-section h1{
    font-weight: 400;
    color: #fff;
    font-size: 56px;
    text-align: center;
}

.first-section h1,.section-content h2{
    font-family: "Ubuntu", sans-serif;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 0;

}

.first-section p{
    color: #fff;
    width: 80%;
    text-align: center;
    margin: 20px auto 0 auto;
}

/*Second section*/

.second-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);

    padding: 50px 0;
}
.section-content{
    width: 40%;
}

.section-content h2{
    font-size: 27px;
    font-weight: 400;
}

.section-content p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
}

.section-content a{
    padding: 10px 20px;
    border: 2px solid #000;
    display: block;
    margin-top: 20px;
    width: max-content;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #000;
    transition: all .5s ease-in-out;
}
.section-content a:hover{
    color: #fff;
    background-color: #000;
}
.second-section .section-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-section img{
    width: 55%;
}


.third-section{
    background-color: #35506d;
    padding: 40px 0;
}
.third-section h2{
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
}
.third-section .section-inner{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
}
.third-element{
    width: 30%;
}
.element1,.element3{
    list-style: none;
    padding: 0;
    margin: 0;
}
.element1 li,.element3 li{
    color: #fff;
    display: flex;
    margin-bottom: 40px;
}
.element1 li img,.element3 li img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.element1 li p,.element3 li p{
    font-size: 12px;
    margin-top: 10px;
}
.element1 li h4,.element3 li h4{
    font-weight: 400;
}





/* fourth section  //images01.nicepage.com/51/b3/51b3bdc….jpeg*/
.fourth-section{

    background-image: url('../images/fourth-img.jpeg');
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;


}

.fourth-section h2{
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
}

.fourth-section p {
    color: #fff;
    width: 80%;
    text-align: center;
    margin: 20px auto 0 auto;
}

.fourth-section .section-inner .section-content a{
    color: #fff;
    border: 2px solid #fff;
}

.fifth-section{

    background-image: url('../images/fifth-img.jpeg');
    background-position: 50% 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;


}

.fifth-section h2{
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
}

.fifth-section p {
    color: #fff;
    width: 80%;
    text-align: center;
    margin: 20px auto 0 auto;
}

.fifth-section .section-inner .section-content a{
    color: #fff;
    border: 2px solid #fff;
}














.sixth-section{

    background-color: #35506d;
    padding: 40px 0;
   /* background-image: url('../images/sixth-img.jpeg');
    min-height: 418px;
    background-position: 50% 50%;*/

}

.sixth-section h2{
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
}
.sixth-section .section-inner{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
}
.sixth-section .third-element{
    width: 30%;
}
.sixth-section .element2{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sixth-section .element2 li{
    color: #fff;
    display: flex;
    margin-bottom: 40px;
}
.sixth-section .element2 li img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.sixth-section .element2 li p{
    font-size: 12px;
    margin-top: 10px;
}
.sixth-section .element2 li h4{
    font-weight: 400;
}




/* seventh section  //images01.nicepage.com/51/b3/51b3bdc….jpeg*/
.seventh-section{

    background-image: url('../images/seventh-img.jpeg');
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;


}

.seventh-section h2{
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
}

.seventh-section p {
    color: #fff;
    width: 80%;
    text-align: center;
    margin: 20px auto 0 auto;
}

.seventh-section .section-inner .section-content a{
    color: #fff;
    border: 2px solid #fff;
}







/* eighth section  //images01.nicepage.com/51/b3/51b3bdc….jpeg*/
.eighth-section{

    background-image: url('../images/eighth-img.jpeg');
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;


}

.eighth-section h2{
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
}

.eighth-section p {
    color: #fff;
    width: 80%;
    text-align: center;
    margin: 20px auto 0 auto;
}

.eighth-section .section-inner .section-content a{
    color: #fff;
    border: 2px solid #fff;
}







/*Responsive breakpoints*/


/*Mobile*/

@media(max-width:767px){
    .first-section h1{
        font-size: 40px;
    }
    .section-inner{
        width: 90%;
    }
    .second-section .section-inner,.third-section .section-inner{
        flex-direction: column;
    }
    .second-section .section-content,.second-section img,.third-element{
        width: 100%;
    }
    .third-section h2{
        font-size: 23px;
    }
}